ACCOUNTS:
  - AWS_ACCESS_KEY_ID: <YOUR KEY ID>
    AWS_SECRET_ACCESS_KEY: <YOUR SECRET KEY>
    RECORDS: 
      - DOMAIN: <SOME DOMAIN>
        TTL: 300
        COMMENT: Home IP
        HOSTED_ZONE: <HOSTED ZONE ID>
